<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if message}}
    <div class="message">
        <p>{{message}}</p>
    </div>
{{/if}}

<form action="/submit-form" method="post" class="submit-form">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="subject" placeholder="Subject">
    <textarea name="content" id=""></textarea>
    <button type="submit">Send</button>
</form>
