<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <h1>LOGO</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about-us">About us</a>
        <a href="/contact-us">Contact us</a>
      </nav>
    </header>

    {{{body}}}
  </body>
</html>
